<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="add-modal-label">Podsumowanie sprzedaży</h4>
</div>
<div class="modal-body">
    <h3>
        <span ng-bind="customer.firstName"></span>
        <span ng-bind="customer.lastName"></span>
    </h3>
    <h4>
        {{ ticket.name | translate | uppercase }}
    </h4>
    <h4 class="text-right">
        Cena:
        <strong>{{ticket.price | number: 2}} zł</strong>
    </h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-alt btn-primary" ng-click="confirm()">Potwierdź</button>
    <button type="button" class="btn btn-alt btn-default pull-left" style="margin-left: 0" ng-click="cancel()">Anuluj
    </button>
</div>