<div class="animated fadeIn">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-tag"></i>
                Sprzedaż karnetu:
                <strong ng-bind="ticket.code"></strong>
                <br>
            </h1>
        </div>
    </div>
    <div class="alert alert-danger">
        <strong>Karnet nieprzypisany do Klienta!</strong>
    </div>

    <div class="block col-xs-12">
        <div class="block-title">
            <h2>Typ karnetu</h2>
        </div>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <div class="form-group" style="margin-bottom: 50px">
                    <label for="group" class="col-sm-3 control-label">
                        Grupa docelowa
                    </label>

                    <div class="col-sm-9">
                        <select size="1" class="form-control" id="group" ng-model="selectedTicketGroupSid">
                            <option ng-repeat="group in ticketGroups | orderBy: 'name'" value="{{group.sid}}">{{group.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-editable">
                <tbody>
                <tr ng-repeat="t in ticketTypes | findByGroup: selectedTicketGroupSid | orderBy: 'group.name'" ng-click="selectType(t)" ng-class="{'selected': t == ticket.type}">
                    <td ng-bind="t.name"></td>
                    <td ng-bind="t.group.name"></td>
                    <td>{{t.entrancePool > 0 ? t.entrancePool : "Bez limitu"}}</td>
                    <td>
                        <span ng-bind="t.periodAmount"></span>
                        <span>{{"PERIOD_" + t.periodType | translate}}</span>
                    </td>
                    <td ng-bind="t.price"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="block col-xs-12">
        <div class="block-title">
            <h2>Klient</h2>
        </div>
        <div class="col-sm-12">
            <ul class="nav nav-tabs" style="margin-bottom: 50px">
                <li ng-class="{'active': existingCustomer}">
                    <a href="javascript:void(0)" ng-click="setExistingCustomer(true)">Szukaj klienta</a>
                </li>
                <li ng-class="{'active': !existingCustomer}">
                    <a href="javascript:void(0)" ng-click="setExistingCustomer(false)">Nowy klient</a>
                </li>
            </ul>
            <div ng-if="existingCustomer" class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Szukaj..." ng-model="customerFilter"/>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table table-hover table-editable">
                        <tbody>
                        <tr ng-repeat="cust in customers | filter: customerFilter | orderBy: 'lastName' | limitTo: 5"
                            ng-click="selectCustomer(cust)" ng-class="{'selected': cust == customer}">
                            <td ng-bind="cust.firstName"></td>
                            <td ng-bind="cust.lastName"></td>
                            <td ng-bind="cust.mobile"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="!existingCustomer">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="newFirstName" class="col-sm-3 control-label">
                            Imię
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newFirstName" placeholder="Imię"
                                   ng-model="newCustomer.firstName" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newLastName" class="col-sm-3 control-label">
                            Nazwisko
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newLastName" placeholder="Nazwisko"
                                   ng-model="newCustomer.lastName" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newGender" class="col-sm-3 control-label">
                            Płeć
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <select ng-model="newCustomer.gender" class="form-control" id="newGender" required>
                                <option value="MALE">{{ 'MALE' | translate }}</option>
                                <option value="FEMALE">{{ 'FEMALE' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newMobile" class="col-sm-3 control-label">Telefon
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newMobile" placeholder="Telefon"
                                   ng-model="newCustomer.mobile" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-offset-1 col-sm-offset-8 text-right">
                            <span class="text-danger">*</span>
                            <span>- pole wymagane</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="block col-xs-12" ng-if="isValidCustomer()">
        <ul class="nav-horizontal pull-right">
            <li>
                <a id="continue" href="javascript:void(0)" ng-click="confirm()">
                    <i class="fa fa-arrow-right"></i>
                    Podsumowanie
                </a>
            </li>
        </ul>
    </div>
</div>

