<div class="animated fadeIn">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-folder_open"></i>Kategorie zajęć<br>
            </h1>
        </div>
        <header class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="nav navbar-nav-custom visible-xs">
                    <li>
                        <a aria-expanded="false" class="collapsed" href="javascript:void(0)" data-toggle="collapse" data-target="#horizontal-menu-collapse">Menu</a>
                    </li>
                </ul>
            </div>
            <div style="height: 1px;" aria-expanded="false" id="horizontal-menu-collapse"
                 class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" ng-click="add()">
                            <i class="fa fa-plus-circle"></i>
                            Dodaj kategorię
                        </a>
                    </li>
                    <li ng-class="{'disabled': selected == undefined}">
                        <a href="javascript:void(0)" ng-click="delete(selected)">
                            <i class="fa fa-trash"></i>
                            Usuń
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <div class="block col-xs-12">
        <div class="table-options clearfix">
            <div class="col-xs-6 col-sm-4 pull-right">
                <div class="input-group">
                    <input type="text" ng-model="filterName" placeholder="Szukaj..." class="form-control">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-center" ng-if="roomLoading">
            <i class="fa fa-spin fa-spinner"></i>
            <span>Ładowanie...</span>
        </div>

        <table class="table table-editable table-hover" ng-if="!roomLoading">
            <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)" ng-click="toggleSort('code')">
                        Kod
                        <i ng-class="sortIcon('code')"></i>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)" ng-click="toggleSort('name')">
                        Nazwa
                        <i ng-class="sortIcon('name')"></i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="category in categories | filter: filterName | orderBy:sort.column:sort.descending">
            <tr ng-click="select(category)" ng-class="{'selected': isEqual(selected, category)}">
                <td ng-bind="category.code"></td>
                <td ng-bind="category.name"></td>
            </tr>
            <tr class="table-content" ng-if="isEqual(selected, category)">
                <td colspan="3">
                    <div class="block">
                        <div class="col-sm-6">
                            <div class="form-horizontal" method="post">

                                <div class="form-group">
                                    <label for="code" class="col-sm-3 control-label">Kod</label>

                                    <div class="col-sm-9" ng-if="selected.edit">
                                        <input type="text" placeholder="Kod" class="form-control" id="code" ng-model="selected.code"/>
                                    </div>
                                    <div class="col-sm-9" ng-if="!selected.edit">
                                        <p class="form-control-static" ng-bind="selected.code"></p>
                                    </div>
                                </div>

                                <form class="form-group">
                                    <label for="name" class="col-sm-3 control-label"
                                           ng-click="edit(selected, 'name')"
                                           ng-mouseover="hover(selected, 'name')"
                                           ng-mouseleave="leave(selected, 'name')">Nazwa</label>
                                    <div class="col-sm-9" ng-if="!selected.name.edit">
                                        <p class="form-control-static">
                                                <span class="btn-link" ng-bind="selected.name.value"
                                                      ng-click="edit(selected, 'name')"
                                                      ng-mouseover="hover(selected, 'name')"
                                                      ng-mouseleave="leave(selected, 'name')"></span>
                                            <i class="fa fa-edit" ng-show="selected.name.hover"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-6" ng-if="selected.name.edit">
                                        <input type="text" placeholder="Nazwa" class="form-control" id="name"
                                               ng-model="selected.name.value"/>
                                    </div>
                                    <div class="col-sm-3" ng-if="selected.name.edit">
                                        <div class="btn" ng-if="selected.name.saving">
                                            <i class="fa fa-spin fa-spinner"></i>
                                        </div>
                                        <div ng-if="!selected.name.saving">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-default"
                                               ng-click="cancel(selected, 'name')">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                            <button class="btn btn-alt btn-primary"
                                                    ng-click="save(selected, 'name')">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-if="!roomLoading && rooms.length == 0">Brak wyników spełniających kryteria.</p>
    </div>
</div>