<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="hi hi-user"></i>Instruktorzy<br>
        </h1>
    </div>
</div>

<div class="block">
    <div class="table-options clearfix">
        <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
            <button class="btn btn-success" ng-click="add()">
                <i class="fa fa-plus-circle"></i>
                Dodaj instruktora
            </button>
        </div>
    </div>
    <table class="table table-editable table-striped table-vcenter table-condensed table-hover">
        <thead>
        <tr>
            <th class="text-center" style="width: 50px">Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Pseudonim</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instructor in instructors" ng-click="edit(instructor)">
            <td ng-bind="instructor.id"></td>
            <td ng-bind="instructor.firstName"></td>
            <td ng-bind="instructor.lastName"></td>
            <td ng-bind="instructor.nick"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-instructor-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="add-modal-label">Dodaj instruktora</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="newFirstName" class="col-sm-2 control-label">Imię</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newFirstName" placeholder="Imię" ng-model="new.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newLastName" class="col-sm-2 control-label">Nazwisko</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newLastName" placeholder="Nazwisko" ng-model="new.lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newNick" class="col-sm-2 control-label">Pseudonim</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newNick" placeholder="Pseudonim" ng-model="new.nick">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button ng-click="create(new)" class="btn btn-success">Zapisz</button>
            </div>
        </div>
    </div>
</div>