.idea
.svn
*.iml
target
bower
.settings
.project
node_modules
target-grunt
dist
.version
vendor
npm-debug.log
#web/src/main/webapp/*.html
style.min.css
node
web/src/main/webapp/*
!web/src/main/webapp/WEB-INF
