<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ActivePortal - platforma społeczności aktywnej</title>

    <meta name="description" content="ActivePortal - platforma społeczności aktywnej">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate"/>
    <meta http-equiv="Cache-Control" content="post-check=0, pre-check=0"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <link rel="shortcut icon" href="dist/assets/lib/pro-ui/img/favicon.ico">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="dist/assets/lib/pro-ui/img/icon152.png" sizes="152x152">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
</head>
<body class="page-loading" onload='document.loginForm.login.focus();'>
<div class="login-background">
    <div id="login-container" style="z-index:9999;">
        <div class="login-title text-center">
            <h1>
                <i class="gi gi-baseball"></i>
                <strong>Active</strong>Portal
                <br>
                <small>Zaloguj się</small>
            </h1>
        </div>

        <div class="block remove-margin">
            <form name='loginForm' action='auth' method='POST' class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <label for="login" class="input-group-addon btn">
                                <i class="fa fa-user"></i>
                            </label>
                            <input type="text" id="login" name='login' class="form-control" placeholder="Login" autofocus/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <label for="password" class="input-group-addon btn">
                                <i class="gi gi-keys"></i>
                            </label>
                            <input type="password" id="password" name="pass" class="form-control" placeholder="Hasło">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-alt btn-primary">
                            <i class="fa fa-sign-in"></i>
                            Zaloguj
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <p class="text-center remove-margin"></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>