<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="TRACE"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%p %d{yyyy-MM-dd HH:mm:ss} %C.%M() %m%n"/>
        </layout>
    </appender>

    <appender name="errFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="Append" value="true"/>
        <param name="File" value="${catalina.base}/logs/setenta-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%p %X{userLogin} %d{yyyy-MM-dd HH:mm:ss} %C.%M() %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="TRACE"/>
        <param name="File" value="${catalina.base}/logs/setenta-server.log"/>
        <param name="Append" value="true"/>
        <param name="maxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%p l:%X{userLogin} %d{yyyy-MM-dd HH:mm:ss} %C{1}.%M() %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="trace"/>
        <appender-ref ref="console"/>
        <!--<appender-ref ref="errFile"/>-->
        <!--<appender-ref ref="file"/>-->
    </root>

</log4j:configuration>