<div>
    <view-header icon-class="fa fa-bank" header-label="Pomieszczenia">
        <li>
            <a href="javascript:void(0)" ng-click="add()">
                <i class="fa fa-plus-circle"></i>
                Dodaj pomieszczenie
            </a>
        </li>
        <li ng-class="{'disabled': selected == undefined}">
            <a href="javascript:void(0)" ng-click="delete(selected)">
                <i class="fa fa-trash"></i>
                Usuń
            </a>
        </li>
    </view-header>

    <div class="block col-xs-12">
        <div class="table-options clearfix">
            <div class="input-group">
                <input type="text" ng-model="filterName" placeholder="Szukaj..." class="form-control">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
            </div>
        </div>
        <div loading-indicator ng-loading="roomLoading" class="table-responsive">
            <table class="table table-editable table-hover">
                <thead>
                <tr>
                    <th>
                        <a href="javascript:void(0)" ng-click="toggleSort('code')">
                            Kod
                            <i ng-class="sortIcon('code')"></i>
                        </a>
                    </th>
                    <th>
                        <a href="javascript:void(0)" ng-click="toggleSort('name')">
                            Nazwa
                            <i ng-class="sortIcon('name')"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="room in rooms | filter: filterName | orderBy:sort.column:sort.descending">
                <tr ng-click="select(room)" ng-class="{'selected': isEqual(selected, room)}">
                    <td ng-bind="room.code"></td>
                    <td ng-bind="room.name"></td>
                </tr>
                <tr class="table-content" ng-if="isEqual(selected, room)">
                    <td colspan="2">
                        <div class="block">
                            <div class="col-sm-6">
                                <div class="form-horizontal" method="post">
                                    <form-label ng-model="selected.code" label="Kod"></form-label>
                                    <!--<form-text-field ng-model="selected" field="name" label="Nazwa" on-save="save(selected, 'name')"></form-text-field>-->
                                    <!--<form-text-field value="selected.name.value" label="Nazwa" editing="selected.name.edit" saving="selected.name.saving" on-save="save(selected, 'name')"></form-text-field>-->
                                    <form class="form-group">
                                        <label for="name" class="col-sm-3 control-label"
                                               ng-click="edit(selected, 'name')">Nazwa</label>

                                        <div class="col-sm-9" ng-if="!selected.name.edit">
                                            <p class="form-control-static">
                                                <span class="btn-link" ng-bind="selected.name.value"
                                                      ng-click="edit(selected, 'name')"></span>
                                            </p>
                                        </div>
                                        <div class="col-sm-6" ng-if="selected.name.edit">
                                            <input type="text" placeholder="Nazwa" class="form-control" id="name"
                                                   ng-model="selected.name.value"/>
                                        </div>
                                        <div class="col-sm-3" ng-if="selected.name.edit">
                                            <div class="btn" ng-if="selected.name.saving">
                                                <i class="fa fa-spin fa-spinner"></i>
                                            </div>
                                            <div ng-if="!selected.name.saving">
                                                <a href="javascript:void(0)" class="btn btn-alt btn-default"
                                                   ng-click="cancel(selected, 'name')">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                                <button class="btn btn-alt btn-primary"
                                                        ng-click="save(selected, 'name')">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p ng-if="rooms.length == 0">Brak wyników spełniających kryteria.</p>
        </div>
    </div>
</div>