<div>
    <view-header icon-class="gi gi-eyedropper" header-label="Style taneczne">
        <li>
            <a href="javascript:void(0)" ng-click="add()">
                <i class="fa fa-plus-circle"></i>
                Dodaj styl
            </a>
        </li>
        <li ng-class="{'disabled': selected == undefined}">
            <a href="javascript:void(0)" ng-click="delete(selected)">
                <i class="fa fa-trash"></i>
                Usuń
            </a>
        </li>
    </view-header>

    <div class="col-xs-12">
        <div class="block">
            <div class="table-options clearfix">
                <div class="input-group">
                    <input type="text" ng-model="filterName" placeholder="Szukaj..." class="form-control">
                             <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                </div>
            </div>

            <div loading-indicator ng-loading="styleLoading" class="table-responsive">
                <table class="table table-editable table-hover">
                    <thead>
                    <tr>
                        <th>
                            <a href="javascript:void(0)" ng-click="toggleSort('name')">
                                Nazwa
                                <i ng-class="sortIcon('name')"></i>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="toggleSort('category.name')">
                                Kategoria
                                <i ng-class="sortIcon('category.name')"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="style in styles | filter: { name : filterName} | orderBy:sort.column:sort.descending">
                    <tr ng-click="select(style)" ng-class="{'selected': isEqual(selected, style)}">
                        <td ng-bind="style.name"></td>
                        <td ng-bind="style.category.name"></td>
                    </tr>
                    <tr class="table-content" ng-if="isEqual(selected, style)">
                        <td colspan="3">
                            <div class="block">
                                <div class="col-sm-6">
                                    <div class="form-horizontal">
                                        <form-text-field object="selected" label="Nazwa" field="name" on-save="save"></form-text-field>
                                        <form-object-combo object="selected" list="categories" label="Kategoria" field="category" on-save="save"></form-object-combo>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Terminy w grafiku</h5>

                                    <div loading-indicator ng-loading="courseLoading">
                                        <p ng-if="selected.courses.length == 0">Brak wyników spełniających kryteria.</p>
                                        <table class="table table-bordered table-condensed" id="general-table">
                                            <tbody>
                                            <tr ng-repeat="c in selected.courses">
                                                <td>
                                                    {{c.day | translate}}
                                                </td>
                                                <td>
                                                    {{c.startTime}} - {{c.endTime}}
                                                </td>
                                                <td>
                                                    {{c.level | translate}}
                                                </td>
                                                <td>
                                                    <span ng-if="!c.inProgress && c.canRegister">Zapisy</span>
                                                    <span ng-if="c.inProgress && !c.canJoin">Brak miejsc</span>
                                                    <span ng-if="c.inProgress && c.canJoin">Można dołączyć</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="styles.length == 0">Brak wyników spełniających kryteria.</p>
            </div>
        </div>
    </div>
</div>