<div class="login-background">
    <div id="login-container" class="animation-fadeIn" style="z-index:9999;">
        <div class="login-title text-center">
            <h1><i class="gi gi-flash"></i> <strong>ActivePortal</strong><br>
                <small>Zaloguj się</small>
            </h1>
        </div>

        <div class="block remove-margin">
            <form ng-submit="login()" id="form-login" autocomplete="off"
                  class="form-horizontal form-bordered form-control-borderless">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i></span>
                            <input ng-model="username" focus-on="login" type="text" id="login" name="login"
                                   class="form-control input-lg" placeholder="Login">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            <input ng-model="password" type="password" id="login-password" name="login-password"
                                   class="form-control input-lg" placeholder="Hasło">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-sign-in"></i>
                            Zaloguj
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <p class="text-center remove-margin"></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>