<div class="animated fadeIn">
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-table"></i>Grafik zajęć<br>
        </h1>
    </div>
    <header class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="nav navbar-nav-custom visible-xs">
                <li>
                    <a aria-expanded="false" class="collapsed" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#horizontal-menu-collapse">Menu</a>
                </li>
            </ul>
        </div>
        <div style="height: 1px;" aria-expanded="false" id="horizontal-menu-collapse"
             class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0)" ng-click="add()">
                        <i class="fa fa-plus-circle"></i> Dodaj zajęcia
                    </a>
                </li>
                <li ng-class="{'disabled': selected == null}">
                    <a href="javascript:void(0)">
                        <i class="fa fa-trash"></i>
                        Usuń
                    </a>
                </li>
            </ul>
        </div>
    </header>
</div>

<div class="col-xs-12">
    <div class="block">
        <div>
            <ul class="nav nav-pills day-select">
                <li ng-class="{'active' : day=='PN'}">
                    <a ng-click="setDay('PN')">Poniedziałek</a>
                </li>
                <li ng-class="{'active' : day=='WT'}">
                    <a ng-click="setDay('WT')">Wtorek</a>
                </li>
                <li ng-class="{'active' : day=='SR'}">
                    <a ng-click="setDay('SR')">Środa</a>
                </li>
                <li ng-class="{'active' : day=='CZ'}">
                    <a ng-click="setDay('CZ')">Czwartek</a>
                </li>
                <li ng-class="{'active' : day=='PT'}">
                    <a ng-click="setDay('PT')">Piątek</a>
                </li>
                <li ng-class="{'active' : day=='SB'}">
                    <a ng-click="setDay('SB')">Sobota</a>
                </li>
                <li ng-class="{'active' : day=='ND'}">
                    <a ng-click="setDay('ND')">Niedziela</a>
                </li>
            </ul>
        </div>

        <table class="table table-editable table-hover">
            <thead>
            <tr>
                <th>Godziny</th>
                <th>Nazwa</th>
                <th>Poziom</th>
                <th>Sala</th>
                <th>Instruktor</th>
                <th>Dostępność</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="course in classes | filter: { day : day}">
            <tr ng-click="select(course)" ng-class="{'selected': isEqual(selected, course)}">
                <td>{{course.startTime}} - {{course.endTime}}</td>
                <td ng-bind="course.style.name"></td>
                <td>{{course.level | translate}}</td>
                <td>{{course.room.name | translate}}</td>
                <td>{{course.instructor.firstName}} {{course.instructor.lastName}}</td>
                <td>
                    <span ng-if="!course.inProgress && course.canRegister">Zapisy</span>
                    <span ng-if="course.inProgress && !course.canJoin">Brak miejsc</span>
                    <span ng-if="course.inProgress && course.canJoin">Można dołączyć</span>
                </td>
                <td class="text-center object-state">
                    <div class="themed-border-spring themed-background-spring text-center" ng-if="isActive(course)">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="themed-border-fire themed-background-fire text-center" ng-if="!isActive(course)">
                        <i class="fa fa-remove"></i>
                    </div>
                </td>
            </tr>
            <tr class="table-content" ng-if="isEqual(selected, course)">
                <td colspan="7">
                    <div class="block">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Nazwa</label>

                                    <div class="col-xs-9">
                                        <p class="form-control-static">
                                            {{ selected.style.name }}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="level" class="col-xs-3 control-label">Poziom</label>

                                    <div class="col-xs-9" ng-if="selected.edit">
                                        <select id="level" ng-model="selected.level"
                                                ng-options="l | translate for l in levels"
                                                class="form-control"></select>
                                    </div>
                                    <div class="col-xs-9" ng-if="!selected.edit">
                                        <p class="form-control-static">
                                            {{ selected.level | translate }}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="day" class="col-xs-3 control-label">Dzień</label>

                                    <div class="col-xs-9" ng-if="selected.edit">
                                        <select id="day" ng-model="selected.day"
                                                ng-options="day | translate for day in days"
                                                class="form-control"></select>
                                    </div>
                                    <div class="col-xs-9" ng-if="!selected.edit">
                                        <p class="form-control-static">
                                            {{ selected.day | translate }}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="startTime" class="col-xs-3 control-label">Start</label>

                                    <div class="col-xs-9" ng-if="selected.edit">
                                        <input id="startTime" class="form-control" type="text"
                                               ng-model="selected.startTime"/>
                                    </div>
                                    <div class="col-xs-9" ng-if="!selected.edit">
                                        <p class="form-control-static">
                                            {{ selected.startTime }}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="endTime" class="col-xs-3 control-label">Koniec</label>

                                    <div class="col-xs-9" ng-if="selected.edit">
                                        <input id="endTime" class="form-control" type="text"
                                               ng-model="selected.endTime"/>
                                    </div>
                                    <div class="col-xs-9" ng-if="!selected.edit">
                                        <p class="form-control-static">
                                            {{ selected.endTime }}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group form-actions" ng-if="selected.edit">
                                    <div class="col-xs-9 col-xs-offset-3">
                                        <button class="btn btn-sm btn-primary" ng-click="update(selected)">
                                            <i class="fa fa-check"></i>
                                            Zapisz
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <ul class="nav-horizontal">
                                <!--<li ng-if="selected.objectState == 'INACTIVE'">-->
                                    <!--<a href="javascript:void(0)" class="" ng-click="publish(selected)">-->
                                        <!--<i class="fa fa-unlock"></i>-->
                                        <!--Publikuj-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li ng-if="selected.objectState == 'ACTIVE'">-->
                                    <!--<a href="javascript:void(0)" class="" ng-click="deactivate(selected)">-->
                                        <!--<i class="fa fa-lock"></i>-->
                                        <!--Dezaktywuj-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)">-->
                                        <!--<i class="fa fa-pencil-square-o"></i> Zamieść notkę-->
                                    <!--</a>-->
                                <!--</li>-->
                            </ul>

                            <!--<table class="table table-hover">-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="lesson in lessons">-->
                                    <!--<td ng-bind="lesson.dateTime"></td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
</div>