<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ActivePortal - platforma społeczności aktywnej</title>

    <meta name="description" content="ActivePortal - platforma społeczności aktywnej">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Cache-Control" content="post-check=0, pre-check=0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="shortcut icon" href="assets/lib/pro-ui/img/favicon.png">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="assets/lib/pro-ui/img/icon152.png" sizes="152x152">

    <link rel="stylesheet" href="assets/lib/pro-ui/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/lib/pro-ui/css/plugins.css">
    <link rel="stylesheet" href="assets/lib/pro-ui/css/main.css">
    <link rel="stylesheet" href="assets/lib/pro-ui/css/themes/fancy.css">
    <link rel="stylesheet" href="assets/lib/pro-ui/css/themes.css">

    <link href="vendor/pnotify/pnotify.core.css" rel="stylesheet" media="screen"/>
    <link href="vendor/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" media="screen"/>
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="screen" />

    <link href="assets/css/style.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="splash themed-background" ng-cloak>
    <h2>
        Ładowanie...
    </h2>
    <!--<div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>-->
    <h2>
        <img src="assets/img/preloaders/128x128/Preloader_2/Preloader_2.gif" />
    </h2>
    <h2>Jeśli ładowanie trwa zbyt długo, spróbuj przeładować stronę (klawisz F5)</h2>
</div>
<div id="page-container" class="sidebar-partial sidebar-visible-lg animated fadeIn" ng-cloak>
    <div id="sidebar">
        <div class="sidebar-scroll">
            <div class="sidebar-content">
                <a href="index.html" class="sidebar-brand">
                    <i class="gi gi-baseball"></i><strong>Active</strong>Portal
                </a>
                <ul class="sidebar-nav" ng-controller="menuController">
                    <li>
                        <a ui-sref="dashboard" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="fa fa-tachometer sidebar-nav-icon"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-header" ng-if="systemAuth()">
                        <span class="sidebar-header-title">SYSTEM</span>
                    </li>
                    <li ng-if="usersAuth()">
                        <a ui-sref="users" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-user sidebar-nav-icon"></i>
                            Użytkownicy
                        </a>
                    </li>
                    <li ng-if="authoritiesAuth()">
                        <a ui-sref="authorities" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-keys sidebar-nav-icon"></i>
                            Uprawnienia
                        </a>
                    </li>
                    <li class="sidebar-header" ng-if="scheduleAuth()">
                        <span class="sidebar-header-title">GRAFIK</span>
                    </li>
                    <li ng-if="roomsAuth()">
                        <a ui-sref="rooms" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="fa fa-bank sidebar-nav-icon"></i>
                            Pomieszczenia
                        </a>
                    </li>
                    <li ng-if="instructorsAuth()">
                        <a ui-sref="instructors" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-certificate sidebar-nav-icon"></i>
                            Instruktorzy
                        </a>
                    </li>
                    <li ng-if="categoriesAuth()">
                        <a ui-sref="categories" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-folder_open sidebar-nav-icon"></i>
                            Kategorie zajęć
                        </a>
                    </li>
                    <li ng-if="stylesAuth()">
                        <a ui-sref="styles" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-eyedropper sidebar-nav-icon"></i>
                            Style taneczne
                        </a>
                    </li>
                    <li ng-if="coursesAuth()">
                        <a ui-sref="courses" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-table sidebar-nav-icon"></i>
                            Grafik zajęć
                        </a>
                    </li>
                    <li class="sidebar-header" ng-if="officeAuth()">
                        <span class="sidebar-header-title">SEKRETARIAT</span>
                    </li>
                    <li ng-if="customerBaseAuth()">
                        <a ui-sref="customerBase" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-parents sidebar-nav-icon"></i>
                            Baza klientów
                        </a>
                    </li>
                    <li ng-if="attendanceAuth()">
                        <a ui-sref="attendance" class="sidebar-nav-menu" ui-sref-active="active">
                            <i class="gi gi-check sidebar-nav-icon"></i>
                            Obecności
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-container">
        <header class="navbar navbar-default">
            <ul class="nav navbar-nav-custom">
                <li>
                    <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                        <i class="fa fa-bars fa-fw"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav-custom pull-right">
                <li>
                    <a href="#" title="Prześlij uwagi dot. aplikacji">
                        <i class="fa fa-envelope"></i>
                        Uwagi
                    </a>
                </li>
                <li>
                    <a href="logout" data-toggle="tooltip" data-placement="bottom" title="Wyloguj">
                        <i class="gi gi-gi gi-exit"></i>
                    </a>
                </li>
            </ul>
        </header>

        <div id="page-content">
            <div class="angular-view" ui-view></div>
        </div>

        <footer class="clearfix">
            <div class="pull-right">
                by <a href="http://setenta.wroclaw.pl" target="_blank">Setenta</a>
            </div>
            <div class="pull-left">
                <span id="year-copy"></span>
                &copy;
                <a href="http://active-porta.pl" target="_blank">
                    Active-Portal 1.2
                </a>
            </div>
        </footer>
    </div>
</div>

<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

<script src="./vendor/headjs-notify/dist/head.load.min.js" type="text/javascript"></script>
<script src="./assets/js/boot.js" type="text/javascript"></script>
</body>
</html>