<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="add-modal-label">Dodaj zajęcia</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="style" class="col-sm-3 control-label">Nazwa</label>

            <div class="col-sm-9">
                <select id="style" ng-model="course.style" ng-options="s.name for s in styles" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="level" class="col-sm-3 control-label">Poziom</label>

            <div class="col-sm-9">
                <select id="level" ng-model="course.level" ng-options="l | translate for l in levels" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="day" class="col-sm-3 control-label">Dzień</label>

            <div class="col-sm-9">
                <select id="day" ng-model="course.day" ng-options="d | translate for d in days" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="startTime" class="col-sm-3 control-label">Start</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="startTime" placeholder="00:00" ng-model="course.startTime">
            </div>
        </div>
        <div class="form-group">
            <label for="endTime" class="col-sm-3 control-label">Koniec</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="endTime" placeholder="00:00" ng-model="course.endTime">
            </div>
        </div>
        <div class="form-group">
            <label for="instructor" class="col-sm-3 control-label">Instruktor</label>

            <div class="col-sm-9">
                <select id="instructor" ng-model="course.instructor" ng-options="i.firstName + ' ' + i.lastName for i in instructors" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="room" class="col-sm-3 control-label">Sala</label>

            <div class="col-sm-9">
                <select id="room" ng-model="course.room" ng-options="r.name for r in rooms" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Typ</label>

            <div class="col-sm-9">
                <select id="type" ng-model="course.type" ng-options="t | translate for t in types" class="form-control"></select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Anuluj</button>
    <button ng-click="save(course)" class="btn btn-success">Zapisz</button>
</div>