<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-parents"></i>Baza klientów<br>
        </h1>
    </div>
</div>


<div class="row customer-base">
    <div class="col-lg-8">
        <div class="block">
            <div class="block-title">
                <div class="block-options">
                    <div class="col-sm-8 pull-left">
                    <a title="" class="btn btn-alt btn-sm btn-default">
                        <i class="fa fa-plus"></i>
                        Dodaj
                    </a>
                        </div>
                    <div class="col-sm-3 pull-right">
                        <div class="input-group" style="margin-top: 3px">
                            <input type="text" ng-model="filterName" placeholder="Szukaj..." class="form-control ng-valid">
                             <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row style-alt">
                <div class="col-sm-6 col-lg-4" ng-repeat="customer in customers | orderBy: 'lastName' | filter: filterName">
                    <a class="widget widget-hover-effect1 customer-record" ng-click="select(customer)">
                        <div class="widget-simple" ng-class="{'themed-background-flatie': customer == selected}">
                            <div class="widget-icon pull-left themed-background-spring animation-fadeIn" ng-if="customer.gender == 'M'">
                                <i class="gi gi-user"></i>
                            </div>
                            <div class="widget-icon pull-left themed-background-autumn animation-fadeIn" ng-if="customer.gender == 'F'">
                                <i class="gi gi-girl"></i>
                            </div>
                            <h4 class="widget-content text-right" ng-class="{'widget-content-light': customer == selected}">
                                <span ng-bind="customer.firstName"></span>
                                <br />
                                <strong ng-bind="customer.lastName"></strong>
                                <small ng-bind="customer.mobile"></small>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4" ng-if="selected != null">
        <div class="block animation-fadeInLeft">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a ng-click="edit()" class="btn btn-sm btn-alt btn-warning enable-tooltip">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a ng-click="deselect()" class="btn btn-sm btn-alt btn-danger enable-tooltip">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <h2>
                    <i class="fa fa-pencil"></i>
                    {{selected.firstName + ' ' + selected.lastName}}
                </h2>
            </div>
            <div class="block-title">
                <div class="block-options text-center">
                    <a class="btn btn-sm btn-alt btn-success">
                        <i class="fa fa-times"></i>
                        Zapisz na zajęcia
                    </a>
                    <a class="btn btn-sm btn-alt btn-info">
                        <i class="fa fa-times"></i>
                        Dopisz do grupy
                    </a>
                </div>
            </div>
            <form class="form-horizontal form-bordered" method="post">
                <div class="form-group">
                    <label for="firstName" class="col-xs-3 control-label">Imię</label>

                    <div class="col-xs-9">
                        <input type="text" placeholder="Imię" class="form-control" id="firstName" ng-model="selected.firstName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-xs-3 control-label">Nazwisko</label>

                    <div class="col-xs-9">
                        <input type="text" placeholder="Nazwisko" class="form-control" id="lastName" ng-model="selected.lastName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-xs-3 control-label">Telefon</label>

                    <div class="col-xs-9">
                        <input type="text" placeholder="Telefon" class="form-control" id="mobile" ng-model="selected.mobile" />
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-9 col-xs-offset-3">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-check"></i>
                            Zapisz
                        </button>
                    </div>
                </div>
            </form>
            <table class="table table-vcenter table-bordered table-condensed" id="general-table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Kurs</th>
                    <th>Obecność</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>21.08.14 15:00</td>
                    <td>Bachata</td>
                    <td>
                        <span class="label label-success">TAK</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>