<div class="animated fadeIn">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-keys"></i>Uprawnienia<br>
            </h1>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5 pull-left">
        <div class="block">
            <table class="table table-editable table-striped table-vcenter table-condensed table-hover">
                <tbody>
                <tr ng-repeat="role in roles" ng-click="select(role)"
                    ng-class="{'selected':selected !== undefined && role.name == selected.name}">
                    <td ng-bind="role.name"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 col-lg-7 pull-right" ng-if="selected !== undefined">
        <div class="block">
            <table class="table table-editable table-striped table-vcenter table-condensed table-hover">
                <tbody>
                <tr ng-repeat="a in authorities" ng-class="{ 'selected' : a.checked }">
                    <td class="text-center">
                        <input type="checkbox" ng-checked="a.checked" ng-click="change($event, a)">
                    </td>
                    <td>
                        {{ a.authority.key | translate }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>