<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="edit-modal-label">Podgląd zajęć</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="editName" class="col-sm-2 control-label">Nazwa</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editName" ng-model="selected.style.sid">
                    <option ng-repeat="style in styles" value="{{style.sid}}">{{style.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="editLevel" class="col-sm-2 control-label">Poziom</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editLevel" ng-model="selected.level">
                    <option ng-repeat="level in levels" value="{{level.code}}">{{level.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="editDay" class="col-sm-2 control-label">Dzień</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editDay" ng-model="selected.day">
                    <option ng-repeat="day in days" value="{{day.code}}">{{day.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="editStart" class="col-sm-2 control-label">Start</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="editStart" placeholder="00:00" ng-model="selected.startTime">
            </div>
        </div>
        <div class="form-group">
            <label for="editEnd" class="col-sm-2 control-label">Koniec</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="editEnd" placeholder="00:00" ng-model="selected.endTime">
            </div>
        </div>
        <div class="form-group">
            <label for="editInstructor" class="col-sm-2 control-label">Instruktor</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editInstructor" ng-model="selected.instructor.sid">
                    <option ng-repeat="instructor in instructors" value="{{instructor.sid}}">
                        {{instructor.firstName + " " + instructor.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="editRoom" class="col-sm-2 control-label">Sala</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editRoom" ng-model="selected.room.sid">
                    <option ng-repeat="room in rooms" value="{{room.sid}}">{{room.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="editType" class="col-sm-2 control-label">Typ</label>

            <div class="col-sm-10">
                <select size="1" class="form-control" id="editType" ng-model="selected.type">
                    <option ng-repeat="type in types" value="{{type.code}}">{{type.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Zamknij</button>
    <!--<button ng-click="update(selected)" class="btn btn-success">Zapisz</button>-->
</div>