<form class="form-group">
    <label for="name" class="col-sm-3 control-label" ng-click="edit()">{{::label}}</label>

    <div class="col-sm-9" ng-if="!editing">
        <p class="form-control-static">
            <span class="btn-link" ng-bind="ngModel[field]" ng-click="edit()"></span>
        </p>
    </div>
    <div class="col-sm-6" ng-if="editing">
        <input type="text" placeholder="{{::label}}" class="form-control" id="name" ng-model="ngModel[field]"/>
    </div>
    <div class="col-sm-3" ng-if="editing">
        <div class="btn" ng-if="saving">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
        <div ng-if="!saving">
            <a href="javascript:void(0)" class="btn btn-alt btn-default" ng-click="cancel()">
                <i class="fa fa-remove"></i>
            </a>
            <button class="btn btn-alt btn-primary" ng-click="save()">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>