<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="add-modal-label">Dodaj rezerwację</h4>
</div>
<div class="modal-body" ng-init="focusInput('#person')">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="type" class="col-sm-3 control-label">
                Typ
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-9">
                <select id="type" ng-model="reservation.type" ng-options="t | translate for t in types"
                        class="form-control" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="person" class="col-sm-3 control-label">Osoba</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="person" placeholder="Osoba odpowiedzialna"
                       ng-model="reservation.person">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Opis</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="description" placeholder="Opis"
                       ng-model="reservation.description">
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-3 control-label">Data</label>

            <div class="col-sm-9">
                <p class="input-group">
                    <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="gi gi-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-3 control-label">Data</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="date" placeholder="yyyy-mm-dd" ng-model="reservation.date">
            </div>
        </div>
        <div class="form-group">
            <label for="startTime" class="col-sm-3 control-label">
                Start
                <span class="text-danger">*</span>
            </label>

            <div class="col-xs-4">
                <select id="startTime" ng-model="start.hours" ng-options="h for h in hours"
                        ng-change="onStartHoursChange(start.hours)" class="form-control" required></select>
            </div>
            <p class="form-control-static col-xs-1">:</p>

            <div class="col-xs-4">
                <select ng-model="start.minutes" ng-options="m for m in minutes" class="form-control" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="endTime" class="col-sm-3 control-label">
                Koniec
                <span class="text-danger">*</span>
            </label>

            <div class="col-xs-4">
                <select id="endTime" ng-model="end.hours" ng-options="h for h in hours" class="form-control"
                        required></select>
            </div>
            <p class="form-control-static col-xs-1">:</p>

            <div class="col-xs-4">
                <select ng-model="end.minutes" ng-options="m for m in minutes" class="form-control" required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="room" class="col-sm-3 control-label">
                Sala
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-9">
                <select id="room" ng-model="reservation.room" ng-options="r.name for r in rooms | orderBy: 'name'"
                        class="form-control" required></select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-alt btn-default" ng-click="cancel()">Anuluj</button>
    <button ng-click="save(reservation)" class="btn btn-alt btn-primary">Zapisz</button>
</div>