<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" ng-if="page==0">Dodaj nowego klienta</h4>
    <h4 class="modal-title" ng-if="page==1">Dopisz do zajęć -
            <strong>
                {{customer.firstName}}
                {{customer.lastName}}
            </strong>
    </h4>
</div>

        <!--PAGE 0-->
<div class="modal-body" ng-if="page==0">
    <div class="wizard-steps">
        <div class="row">
            <div class="col-xs-6 active">
                <span>1. Klient</span>
            </div>
            <div class="col-xs-6">
                <span>2. Zajęcia</span>
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" name="newCustomer">
        <div class="form-group">
            <label for="newFirstName" class="col-sm-3 control-label">
                Imię
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="newFirstName" placeholder="Imię"
                       ng-model="customer.firstName" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="newLastName" class="col-sm-3 control-label">
                Nazwisko
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="newLastName" placeholder="Nazwisko"
                       ng-model="customer.lastName" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="newGender" class="col-sm-3 control-label">
                Płeć
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-8">
                <select ng-model="customer.gender" class="form-control" id="newGender" required>
                    <option value="MALE">{{ 'MALE' | translate }}</option>
                    <option value="FEMALE">{{ 'FEMALE' | translate }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="newMobile" class="col-sm-3 control-label">Telefon
                <span class="text-danger">*</span>
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="newMobile" placeholder="Telefon" ng-model="customer.mobile" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-offset-1 col-sm-offset-9 text-right">
                <span class="text-danger">*</span>
                <span>- pole wymagane</span>
            </label>
        </div>
    </form>
</div>
<div class="modal-footer" ng-if="page==0">
    <ul class="nav-horizontal text-center">
        <li>
            <a href="javascript:void(0)" ng-click="cancel()">
                <i class="fa fa-close"></i>
                Anuluj
            </a>
        </li>
        <li class="active" ng-if="isValidCustomer(customer)">
            <a href="javascript:void(0)" ng-click="nextPage()">
                <i class="fa fa-chevron-right"></i>
                Dalej
            </a>
        </li>
    </ul>
</div>

        <!--PAGE 1-->
<div class="modal-body" ng-if="page==1">
    <div class="wizard-steps">
        <div class="row">
            <div class="col-xs-6 active">
                <span>
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="col-xs-6 active">
                <span>2. Zajęcia</span>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills day-select">
        <li ng-class="{'active' : day=='PN'}">
            <a ng-click="setDay('PN')">Poniedziałek</a>
        </li>
        <li ng-class="{'active' : day=='WT'}">
            <a ng-click="setDay('WT')">Wtorek</a>
        </li>
        <li ng-class="{'active' : day=='SR'}">
            <a ng-click="setDay('SR')">Środa</a>
        </li>
        <li ng-class="{'active' : day=='CZ'}">
            <a ng-click="setDay('CZ')">Czwartek</a>
        </li>
        <li ng-class="{'active' : day=='PT'}">
            <a ng-click="setDay('PT')">Piątek</a>
        </li>
        <li ng-class="{'active' : day=='SB'}">
            <a ng-click="setDay('SB')">Sobota</a>
        </li>
        <li ng-class="{'active' : day=='ND'}">
            <a ng-click="setDay('ND')">Niedziela</a>
        </li>
    </ul>
    <table class="table table-editable table-striped table-vcenter table-condensed table-hover" style="margin-top:10px">
        <tbody>
        <tr ng-repeat="course in availableCourses | orderBy: 'startTime' | filter: { day : day}" ng-click="selectCourse(course)" ng-class="{'selected': isSelected(course)}">
            <td>{{course.day | translate}}</td>
            <td>{{course.startTime}} - {{course.endTime}}</td>
            <td ng-bind="course.style.name"></td>
            <td>{{course.room.name | translate}}</td>
            <td>{{course.instructor.firstName}} {{course.instructor.lastName}}</td>
            <td>
                <span ng-if="!course.inProgress && course.canRegister">Zapisy</span>
                <span ng-if="course.inProgress && !course.canJoin">Brak miejsc</span>
                <span ng-if="course.inProgress && course.canJoin">Można dołączyć</span>
            </td>
        </tr>
        </tbody>
    </table>
    <ul>
        <li ng-repeat="c in courses">
            {{c.style.name}}
        </li>
    </ul>
</div>
<div class="modal-footer" ng-if="page==1">
    <ul class="nav-horizontal text-center">
        <li>
            <a href="javascript:void(0)" ng-click="previousPage()">
                <i class="fa fa-chevron-left"></i>
                Wstecz
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0)" ng-click="create(customer, courses)">
                <i class="fa fa-check-square-o"></i>
                Zapisz
            </a>
        </li>
    </ul>
</div>