<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="add-modal-label">Zapisz na zajęcia</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-pills day-select">
        <li ng-class="{'active' : day==''}">
            <a ng-click="day=''">
                <strong>WSZYSTKIE</strong>
            </a>
        </li>
        <li ng-class="{'active' : day=='PN'}">
            <a ng-click="day='PN'">Poniedziałek</a>
        </li>
        <li ng-class="{'active' : day=='WT'}">
            <a ng-click="day='WT'">Wtorek</a>
        </li>
        <li ng-class="{'active' : day=='SR'}">
            <a ng-click="day='SR'">Środa</a>
        </li>
        <li ng-class="{'active' : day=='CZ'}">
            <a ng-click="day='CZ'">Czwartek</a>
        </li>
        <li ng-class="{'active' : day=='PT'}">
            <a ng-click="day='PT'">Piątek</a>
        </li>
        <li ng-class="{'active' : day=='SB'}">
            <a ng-click="day='SB'">Sobota</a>
        </li>
        <li ng-class="{'active' : day=='ND'}">
            <a ng-click="day='ND'">Niedziela</a>
        </li>
    </ul>
    <table class="table table-editable table-striped table-vcenter table-condensed table-hover">
        <tbody>
        <tr ng-repeat="course in classes | orderBy: 'startTime' | filter: { day : day}" ng-click="select(course)" ng-class="{'selected': course == selected}">
            <td>{{course.day | translate}}</td>
            <td>{{course.startTime}} - {{course.endTime}}</td>
            <td ng-bind="course.style.name"></td>
            <td>{{course.room.name | translate}}</td>
            <td>{{course.instructor.firstName}} {{course.instructor.lastName}}</td>
            <td>
                <span ng-if="!course.inProgress && course.canRegister">Zapisy</span>
                <span ng-if="course.inProgress && !course.canJoin">Brak miejsc</span>
                <span ng-if="course.inProgress && course.canJoin">Można dołączyć</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Anuluj</button>
    <button ng-click="subscribe(selected)" class="btn btn-success">Zapisz</button>
</div>