#login-container {
    top: 50px;
}

.login-background {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../img/back.jpg');
    position: fixed;
}

#login-container, #login-alt-container {
    margin-left: -190px;
    width: 380px;
}