[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.table-editable tbody {
    cursor: pointer;
}

.day-select li {
    cursor: pointer;
}

.customer-base .widget .widget-image, .widget .widget-icon {
    height: 48px;
    width: 48px;
}

.customer-base .widget .widget-icon {
    font-size: 24px;
    line-height: 48px;
}

.customer-base .widget-simple .widget-content {
    font-size: 16px;
    margin: 0;
}

.customer-base .customer-record {
    cursor: pointer;
}