[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

#page-content {
    overflow: auto;
}

.splash {
    display: none;
}

.splash.themed-background {
    background-color: white;
}

a.sidebar-brand {
    background-color: #d9416c;
}

[ng-cloak].splash {
    display: block !important;
    padding-top: 50px;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.splash h2, .splash img {
    text-align: center;
    /*color: white;*/
}

.ui-pnotify h4 {
    color: inherit !important;
    font-weight: bold;
}

.ui-pnotify-container {
    z-index: 1055;
}

.ui-pnotify-container.alert .icon-exclamation-sign {
    font-size: 15px;
    margin-top: 2px;
}

.table-editable > tbody {
    cursor: pointer;
}

.day-select {
    margin-bottom: 20px;
}

.day-select li {
    cursor: pointer;
}

.customer-base .widget .widget-image,
.customer-base .widget .widget-icon {
    height: 48px;
    width: 48px;
}

.customer-base .widget .widget-icon {
    font-size: 24px;
    line-height: 48px;
}

.customer-base .widget-simple .widget-content {
    font-size: 16px;
    margin: 0;
}

.customer-base .customer-record {
    cursor: pointer;
}

.customer-base .nav-horizontal a {
    line-height: 1.42857;
}

/*.attendance span {*/
/*font-size: 56px;*/
/*color: black;*/
/*}*/

.attendance img {
    height: 58px;
}

.attendance .table-presence th {
    font-size: 13px;
}

.row.customer-presence {
    margin-left: 0;
    margin-right: 0;
}

.selected > td {
    background-color: #d9416c !important;
    color: white;
    border-color: #D9416C ;
}

.themed-background-spring > td {
    background-color: #27ae60 !important;
    color: white;
}

td.presence-icon {
    vertical-align: middle !important;
}

.presence-icon .fa-lg {
    font-size: 1.7em;
}

td.object-state {
    color: #FFF;
}

td.object-state div {
    border-radius: 50%;
    width: 20px;
}

.table-hover > tbody > tr.table-content > td {
    background-color: #F2EBED;
    border-top: 0;
}

tr.table-content .block {
    margin-bottom: 0;
    overflow: auto;
}

.table-content td {
    padding: 0 !important;
}

.table > tbody + tbody {
    border-top: 0;
}

.table-hover > tbody > tr.table-content:hover > td {
    background-color: #F2EBED;
    cursor: default;
}

.btn-link {
    cursor: pointer;
}