<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="add-modal-label">Dodaj styl</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="newName" class="col-sm-3 control-label">Nazwa</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="newName" placeholder="Nazwa"
                       ng-model="new.name">
            </div>
        </div>
        <div class="form-group">
            <label for="newCategory" class="col-sm-3 control-label">Kategoria</label>

            <div class="col-sm-9">
                <select size="1" class="form-control" name="example-select" id="newCategory"
                        ng-model="new.category.sid">
                    <option ng-repeat="category in categories" value="{{category.sid}}">{{category.name}}
                    </option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Anuluj</button>
    <button ng-click="create(new)" class="btn btn-success">Zapisz</button>
</div>