<div class="modal-body">
    <p>Czy na pewno usunąć wybrany element?</p>
    <div ng-if="courses.length > 0">
        <div class="alert alert-danger">
            <strong>Poniższe kursy zostaną usunięte:</strong>
        </div>
        <table class="table table-vcenter table-bordered table-condensed" id="general-table">
            <tbody>
            <tr ng-repeat="c in courses" class="class-popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                <td>
                    {{c.day | translate}}
                </td>
                <td>
                    {{c.startTime}} - {{c.endTime}}
                </td>
                <td>
                    {{c.level | translate}}
                </td>
                <td>
                    <span ng-if="!c.inProgress && c.canRegister">Zapisy</span>
                    <span ng-if="c.inProgress && !c.canJoin">Brak miejsc</span>
                    <span ng-if="c.inProgress && c.canJoin">Można dołączyć</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-alt btn-primary" ng-click="confirm()">Potwierdź</button>
    <button type="button" class="btn btn-alt btn-default pull-left" style="margin-left: 0" ng-click="cancel()">Anuluj</button>
</div>