<div class="animated fadeIn">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-eyedropper"></i>Style taneczne<br>
            </h1>
        </div>
        <header class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="nav navbar-nav-custom visible-xs">
                    <li>
                        <a aria-expanded="false" class="collapsed" href="javascript:void(0)" data-toggle="collapse"
                           data-target="#horizontal-menu-collapse">Menu</a>
                    </li>
                </ul>
            </div>
            <div style="height: 1px;" aria-expanded="false" id="horizontal-menu-collapse"
                 class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" ng-click="add()">
                            <i class="fa fa-plus-circle"></i>
                            Dodaj styl
                        </a>
                    </li>
                    <li ng-class="{'disabled': selected == null}">
                        <a href="javascript:void(0)" ng-click="delete(selected)">
                            <i class="fa fa-trash"></i>
                            Usuń
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <div class="col-xs-12">
        <div class="block">
            <div class="table-options clearfix">
                <div class="col-sm-3 pull-right">
                    <div class="input-group">
                        <input type="text" ng-model="filterName" placeholder="Szukaj..." class="form-control">
                             <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                    </div>
                </div>
            </div>
            <table class="table table-editable table-hover">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Kategoria</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody ng-repeat="style in styles | orderBy : 'name' | filter: { name : filterName}">
                <tr ng-click="select(style)" ng-class="{'selected': isEqual(selected, style)}">
                    <td ng-bind="style.name"></td>
                    <td ng-bind="style.category.name"></td>
                    <td class="text-center object-state">
                        <div class="themed-border-spring themed-background-spring text-center" ng-if="isActive(style)">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="themed-border-fire themed-background-fire text-center" ng-if="!isActive(style)">
                            <i class="fa fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <tr class="table-content" ng-if="isEqual(selected, style)">
                    <td colspan="3">
                        <div class="block">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <form class="form-group">
                                        <label for="category" class="col-sm-3 control-label"
                                               ng-click="edit(selected, 'category')">Kategoria</label>

                                        <div class="col-sm-9" ng-if="!selected.category.edit">
                                            <p class="form-control-static">
                                                <span class="btn-link" ng-bind="selected.category.value.name"
                                                      ng-click="edit(selected, 'category')"
                                                      ng-mouseover="hover(selected, 'category')"
                                                      ng-mouseleave="leave(selected, 'category')"></span>
                                                <i class="fa fa-edit" ng-show="selected.category.hover"></i>
                                            </p>
                                        </div>
                                        <div class="col-sm-7" ng-if="selected.category.edit">
                                            <select id="category" ng-model="selected.category.value"
                                                    ng-options="c.name for c in categories track by c.sid"
                                                    class="form-control" ng-change="setCategory(selected)"
                                                    ng-disabled="selected.category.saving"></select>

                                        </div>
                                        <div class="col-sm-2" ng-if="selected.category.edit">
                                            <div class="btn" ng-if="selected.category.saving">
                                                <i class="fa fa-spin fa-spinner"></i>
                                            </div>
                                            <div ng-if="!selected.category.saving">
                                                <a href="javascript:void(0)" class="btn btn-alt btn-default"
                                                        ng-click="cancel(selected, 'category')">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                                <button class="btn btn-alt btn-primary"
                                                        ng-click="save(selected, 'category')">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <form class="form-group">
                                        <label for="name" class="col-sm-3 control-label"
                                               ng-click="edit(selected, 'name')">Nazwa</label>
                                        <div class="col-sm-9" ng-if="!selected.name.edit">
                                            <p class="form-control-static">
                                                <span class="btn-link" ng-bind="selected.name.value"
                                                      ng-click="edit(selected, 'name')"
                                                      ng-mouseover="hover(selected, 'name')"
                                                      ng-mouseleave="leave(selected, 'name')"></span>
                                                <i class="fa fa-edit" ng-show="selected.name.hover"></i>
                                            </p>
                                        </div>
                                        <div class="col-sm-7" ng-if="selected.name.edit">
                                            <input type="text" placeholder="Nazwa" class="form-control" id="name"
                                                   ng-model="selected.name.value"/>
                                        </div>
                                        <div class="col-sm-2" ng-if="selected.name.edit">
                                            <div class="btn" ng-if="selected.name.saving">
                                                <i class="fa fa-spin fa-spinner"></i>
                                            </div>
                                            <div ng-if="!selected.name.saving">
                                                <a href="javascript:void(0)" class="btn btn-alt btn-default"
                                                        ng-click="cancel(selected, 'name')">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                                <button class="btn btn-alt btn-primary"
                                                        ng-click="save(selected, 'name')">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Terminy w grafiku</h5>
                                <table class="table table-vcenter table-bordered table-condensed" id="general-table">
                                    <tbody>
                                    <tr ng-repeat="c in selected.courses" class="class-popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                                        <td>
                                            {{c.day | translate}}
                                        </td>
                                        <td>
                                            {{c.startTime}} - {{c.endTime}}
                                        </td>
                                        <td>
                                            {{c.level | translate}}
                                        </td>
                                        <td>
                                            <span ng-if="!c.inProgress && c.canRegister">Zapisy</span>
                                            <span ng-if="c.inProgress && !c.canJoin">Brak miejsc</span>
                                            <span ng-if="c.inProgress && c.canJoin">Można dołączyć</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>